$wine: #ba3638;
$gray: #707070;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
}

body {
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  background-color: #272727;
}
.widget {
  &__logo {
    position: relative;
    top: 40px;
    margin-top: -40px;
  }
  &__heading-title {
    background-color: #fff;
    text-align: center;
    padding: 10px 40px;
    font-size: 30px;
    font-weight: 600;
    margin-left: auto;
    border-radius: 3px;
    overflow: hidden;
  }
  &__img-holder {
    height: 60px;
    width: 60px;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid $wine;
  }
  &__img {
    visibility: hidden;
    width: 100%;
  }
  &__list {
    padding: 0;
    text-align: left;
    border-radius: 3px;
    position: relative;
    min-height: 459px;
  }
  &__item {
    display: flex;
    position: relative;
    background-color: #fff;
    align-items: center;
    padding: 15px;
    transition: background-color 200ms linear;
    &:nth-child(even) {
      background-color: #f2f1f1;
      padding: 10px 15px;
    }
    &:last-child {
      @include border-radii(0, 0, 5px, 5px);
      .widget__votes-wrapper {
        top: -70px;
        bottom: auto;
        &::before {
          transform: rotate(-135deg);
          top: auto;
          bottom: -5px;
          background-color: #fff;
        }
      }
    }
    &:nth-child(2) {
      @include border-radii(5px, 5px, 0, 0);
    }
    &:hover {
      z-index: 4;
      position: relative;
      background-color: $wine;
      .widget__img-holder {
        border-color: #fff;
      }
      .widget__actor-name {
        color: #fff;
      }
      .widget__votes-wrapper {
        display: block;
      }
    }
  }
  &__img-wrapper {
    display: inline-block;
    position: relative;
  }
  &__counter {
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 20px;
    border: 1px solid $gray;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    color: $gray;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
  }
  &__actor-info {
    display: inline-block;
    padding-left: 22px;
  }
  &__actor-name {
    color: $wine;
    font-size: 18px;
    font-weight: 600;
  }
  &__actor-desc {
    padding-top: 3px;
  }
  &__votes-wrapper {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -70px;
    z-index: 1;
    width: 155px;
    margin-left: -75px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    &::before {
      content: ' ';
      height: 11px;
      width: 11px;
      background-color: $wine;
      position: absolute;
      top: -5px;
      z-index: 3;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 11px;
      transform: rotate(45deg);
    }
  }
  &__votes-head {
    background-color: $wine;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__positive {
    width: 40%;
    display: inline-block;
    padding: 7px 0;
    box-shadow: 1px 0px 0px rgba(113, 113, 113, 0.57), 2px 0px 0px rgba(193, 193, 193, 0.4);
  }
  &__negative {
    display: inline-block;
    width: 57%;
    padding: 7px 0;
  }
  &__vote-perc {
    font-weight: bolder;
    font-size: 24px;
    padding: 0;
    color: $gray;
  }

  @media screen and (min-width: 390px) {
    &__head {
      position: relative;
      height: 180px;
    }
    &__list {
      margin: 15px 0 15px 32px;
    }
    &__logo {
      position: absolute;
      left: 0;
      bottom: 0px;
    }
    &__heading-title{
      text-align: right;
      width: 60%;
      bottom: 0;
      position: absolute;
      right: 0;
      margin: 0;
      z-index: -1;
    }
  }
  @media screen and (min-width: 450px) {
    width: 390px;
    margin: 0 auto;
  }
  @media screen and (min-width: 580px) {
    width: 390px;
    margin: 0;
    &__votes-wrapper {
      right: -170px;
      left: auto;
      bottom: auto;
      &::before {
        transform: rotate(-45deg);
        top: 30px;
        background-color: #fff;
        left: -4px;
      }
    }
    &__item:last-child .widget__votes-wrapper {
      top: auto;
      bottom: auto;
      &::before {
        transform: rotate(-45deg);
        top: 30px;
        background-color: #fff;
      }
    }
  }
  @media screen and (min-width: 755px) {
    width: 390px;
    margin: 0 auto;
  }

}
